html {
    font-family: Helvetica, sans-serif;
    background-color: #DDD;
    box-sizing: border-box;
}

.container {
    max-width: 85%;
    background-color: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    margin: 50px;
    border-radius: 8px;
}


.destaque {
    font-weight: bold;
}

/* cabecalho */

.cabecalho {
    text-align: center;
    padding-bottom: 15px;
}

.cabecalho h1 {
    font-size: 40px;
}

.cabecalho p {
    font-style: italic;
}

/* corpo do site */

.img-destaque {
    text-align: center;
    margin-top: 30px;
}

/* biografia curiosidade container */

.bio-cur-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

.bio-cur-container > ul > li {
    height: 30px;
}
/* citações */

.frase-container {
    background-color: #DDD;
    padding: 30px;
    border-radius: 8px;
}

.frase-container blockquote {
    font-weight: 600;
    font-size: 30px;
}

.frase-container p {
    font-style: italic; 
}